@use './variables' as *;

.howDeepHolder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

.depthIndicator {
    position: relative;
    width: fit-content;
    min-width: 3rem;
    min-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $roots;
    border: $neo-detail-border;
    border-radius: $neo-detail-radius;
    box-shadow: $neo-detail-shadow;
    font-size: 0;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover .depthText {
        font-size: 1.5rem;
        opacity: 1;
    }

    &:hover {
        box-shadow: $neo-btn-press;
        translate: $neo-detail-translate;
    }

    @media (min-width: $large-desktop) {
        border: $neo-detail-border-lg;
        box-shadow: $neo-detail-shadow-lg;

        &:hover {
            box-shadow: $neo-btn-press-lg;
            translate: $neo-detail-translate-lg;
        }
    }

    &:active {
        background: $leaf;
    }

    @media (max-width: $mobile) {
        display: none;
    }
}

.depthText {
    display: flex;
    position: absolute;
    border-radius: $neo-detail-radius;
    border: 3px solid black;
    transition: all 0.2s ease;
    padding: 0.5rem 1rem;
    opacity: 0;
    background: $roots;
    bottom: 0;
    right: var(--label-right, 13rem);
    width: fit-content;
    white-space: nowrap;
}
