.ideaPage {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: calc(100% - 4rem);
    height: calc(100vh - 5rem);
    margin: 2rem;
}


.top {
    display: flex;
    justify-content: start;
    align-items: end;
    width: 100%;
    height: 25vh;
    margin-bottom: 5rem;

    @media (min-width: $large-desktop) {
        margin-bottom: 12rem;
    }
}

.rootHolder {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    gap: 2rem;
    margin-right: 20%;
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    width: 7rem;
    height: 2.8rem;
    background: $back;
    font-size: 1.25rem;
    font-weight: 500;

    @media (min-width: $large-desktop) {
        width: 9rem;
        height: 3.2rem;
        font-size: 1.55rem;
    }
}


.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ideaSpace {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;

    height: 100%;
    gap: 3.5rem;
}

.ideaRoot {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 14.75rem;
    height: 7.25rem;
    font-size: 3.125rem;
    background: $roots;
    margin-left: 9.5rem;
    user-select: none;
    padding:.51rem 2rem;
    transition: all 0.3s ease;
    
    @media (min-width: $large-desktop) {
        min-width: 20rem;
        height: 10rem;
        font-size: 4.72rem;
        padding: 1rem 2rem;
    }
}

.ideaNodes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 5rem;
}

.ideaNode {
    display: flex;
    align-items: center;
    background: $leaf;
    width: 12.75rem;
    min-height: 4.625rem;
    height: fit-content;
    margin: 0.5rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    word-break: break-word;

    @media (min-width: $large-desktop) {
        width: 20rem;
        padding: 1rem 2rem;
    }

    &.parent {
        background: $sky;
        font-size: 1.875rem;
        text-align: center;
        justify-content: center;
        padding: 1rem 1rem;

        @media (min-width: $large-desktop) {
            font-size: 2.5rem;
            padding: 2rem 2rem;
        }
    }

    &.leaf {
        background: $leaf;
        font-size: 1.5rem;
        text-align: left;

        @media (min-width: $large-desktop) {
            width: 20rem;
            @media (min-width: $large-desktop) {
                font-size: 2.125rem;
            }
        }
    }
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.5);
}

.neobrutal.modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: $background-color;
    width: 33rem;
    min-height: 18rem;
    gap: 1rem;
    padding: 2rem 1rem;
    border-radius: 10px;

    @media (min-width: $large-desktop) {
        width: 42.5rem;
        min-height:24rem;
    }
}

.ideaContent{
    width: 26.125rem;
    height: 8rem;
    box-shadow: 4px 4px 0 2px black;
    font-size: 1.5rem;
    padding: 2rem 1rem;
    background: $neutral;
    resize: vertical;

    @media (min-width: $large-desktop) {
        width: 33rem;
        height: 10rem;
        font-size: 2rem;
        padding: 2rem 2rem;
    }
}

.modalButtons{
    display: flex;
    width: 28.125rem;
    justify-content: space-between;

    @media (min-width: $large-desktop) {
        width: 37rem;
    }
}

.modalButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5rem;
    height: 4rem;
    font-size: 1.5rem;

    &.cancel{
        background: $back;
    }

    &.continue{
        background: $leaf;
    }

    @media (min-width: $large-desktop) {
        width: 17rem;
        height: 5rem;
        font-size: 2rem;
    }
}