.ideaPage {
    display: flex;
    justify-content: start;
    align-items: start;
    width: calc(100% - 4rem);
    height: calc(100vh - 5rem);
    margin: 2rem;
}

.left, .right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 4rem);
    width: 20%;
    position: fixed;
    top: 2rem;

    @media (min-width: $large-desktop) {
        width: 10%;
    }
}

.mid{
    display: flex;
    width: 60%;
    margin: 0 20%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: $large-desktop) {
        width: 80%;
        margin: 0 15%;
    }
}

.right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    right: 2rem;;
}

.top {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    min-height: 25vh;
    margin-bottom: 5rem;

    @media (min-width: $large-desktop) {
        margin-bottom: 12rem;
    }
}


.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.rootHolder {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    gap: 2rem;
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    width: 7rem;
    height: 2.8rem;
    background: $back;
    font-size: 1.25rem;
    font-weight: 500;

    @media (min-width: $large-desktop) {
        width: 9rem;
        height: 3.2rem;
        font-size: 1.55rem;
    }
    
    &.layerZero {
        opacity: 0;
        pointer-events: none;
    }
}

.ideaSpace {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    height: 100%;
    gap: 3.5rem;
}

.ideaRoot {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 14.75rem;
    min-height: 7.25rem;
    font-size: 3.125rem;
    background: $roots;
    margin-left: 9.5rem;
    user-select: none;
    padding: .5rem 2rem;
    transition: all 0.3s ease;
    word-break: break-all;
    
    @media (min-width: $large-desktop) {
        min-width: 20rem;
        min-height: 10rem;
        font-size: 4.72rem;
        padding: 1rem 2rem;
    }
}

.rootAdditionalButtons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    height: 100%;
    min-height: 8.5rem;

    @media (min-width: $large-desktop) {
        min-height: 12rem;
    }
}

.moveBack {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    min-width: 8rem;
    opacity: 0.5;
    border: 2px dashed black;
    border-radius: 5px;
    box-shadow: 2px 2px 0 2px black;
    flex-grow: 1;
    padding: 0rem 1rem;
    white-space: normal;
    word-break: break-word;

    @media (min-width: $large-desktop) {
        font-size: 2.5rem;
        min-width: 13rem;
        border-radius: 10px;
        box-shadow: 4px 4px 0 2px black;
        border: 4px dashed black;
        padding: 0rem 1rem;
    }
}

.ideaNodes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 5rem;
    margin-bottom: 10rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.ideaNode {
    display: flex;
    align-items: center;
    background: $leaf;
    width: 12.75rem;
    min-height: 4.625rem;
    height: fit-content;
    margin: 0.5rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    word-break: break-word;
    
    @media (min-width: $large-desktop) {
        width: 16rem;
        padding: 1rem 1rem;
    }

    &.parent {
        background: $sky;
        font-size: 1.875rem;
        text-align: center;
        justify-content: center;
        padding: 1rem 1rem;

        @media (min-width: $large-desktop) {
            font-size: 2.2rem;
            padding: 2rem 2rem;
        }
    }

    &.leaf {
        background: $leaf;
        font-size: 1.5rem;
        text-align: left;

        @media (min-width: $large-desktop) {
            width: 20rem;
            @media (min-width: $large-desktop) {
                font-size: 2rem;
            }
        }
    }
}
