.navbar {
    display: flex;
    
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    position: sticky;
    width: 20%;
    gap: 2rem;
    height: 20vh;
    
    &.rightSide{
        justify-content: start;
        gap: 2rem;
        height: 20vh;
        align-items: end;
    }
}


.navButton {
    padding: 0.5rem;
    aspect-ratio: 1 / 1;

    &.navImg {
        width: 100%;
        height: 75%;
    }
}



.largeSideButton{
    width: 5.625rem;
    height: 5.625rem;

    @media (min-width: $large-desktop) {
        width: 7rem;
        height: 7rem;
    }
}

.mediumSideButton{
    width: 3.75rem;
    height: 3.75rem;

    @media (min-width: $large-desktop) {
        width: 5.25rem;
        height: 5.25rem;
    }
}

.smallSideButton{
    width: 2.5rem;
    height: 2.5rem;

    @media (min-width: $large-desktop) {
        width: 4rem;
        height: 4rem;
    }
}

.trashCan{
    display: flex;
    justify-content: center;
    align-items: center;
}