.navbar {
    display: flex;

    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    position: sticky;
    width: 20%;
    gap: 2rem;
    height: 20vh;

    &.rightSide {
        justify-content: start;
        gap: 2.5rem;
        height: 20vh;
        align-items: end;
    }

    @media (min-width: $large-desktop) {
        &.rightSide {
            height: 20vh;
        }
    }

    @media (min-width: $large-desktop) {
        
    }
}


.navButton {
    padding: 0.5rem;
    aspect-ratio: 1 / 1;

    &.navImg {
        width: 100%;
        height: 75%;
    }
}


.largeSideButton {
    user-select: none;

    width: 5.625rem;
    height: 5.625rem;

    @media (min-width: $large-desktop) {
        width: 9rem;
        height: 9rem;
    }
}

.mediumSideButton {
    user-select: none;

    width: 3.75rem;
    height: 3.75rem;

    @media (min-width: $large-desktop) {
        width: 6.25rem;
        height: 6.25rem;
    }
}

.smallSideButton {
    user-select: none;

    width: 2.5rem;
    height: 2.5rem;

    @media (min-width: $large-desktop) {
        width: 5rem;
        height: 5rem;
    }
}

.trashCan {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonImg {
    user-select: none;

    @media (min-width: $large-desktop) {
        width: 55%;
        height: 50%;

        &.logoButton {
            width: 90%;
            height: 90%;
        }
    }
}

.trashCan>.buttonImg {
    width: 70%;
    height: 70%;
}