// Colors
$background-color: #E9F9E5;
$neutral: #D3DED1;
$roots: #A3703E;
$sky: #00A9D8;
$leaf: #41BC28;
$back: #C84600;
$danger: #C80000;
$neo-pink: #DB44A4;
$neo-green: #2B701D;
$link: #E8E879;

// Breakpoints
$macbook-air-13: 1200px;
$macbook-air-15: 1439px;
$mobile: 576px;
$tablet: 768px;
$desktop: 1024px;
$large-desktop: 1921px;
$very-large-desktop: 3840px;

//Idea Component
$back-size: 7rem;


.neutral{
    background: $neutral;
}

.leaf{
    background: $leaf;
}

.danger {
    background: $danger;
}

.roots {
    background: $roots;
}

.backColor {
    background: $back;
}